* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.container-2 {
    display: flex;
    flex-basis: 100%;
}

.item {
    color: white;
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
}

@media screen and (min-width: 768px) {
    .container-1 {
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 60%;
    }
    .container-2 {
        flex-basis: 40%;
    }
    .item1 {
        flex-basis: 50%;
    }
    .item2 {
        flex-basis: 50%;
    }
}

.item1 {
    background-color: purple;
}
.item2 {
    background-color: blue;
}
.item3 {
    background-color: red;
}
.item4 {
    background-color: green;
}